@model PetsDate.Web.ViewModels.Event.EventListViewModel
@{
    this.ViewData["Title"] = "All Events, page " + Model.PageNumber;
}

<div class="text-center h1">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="container row justify-content-xl-center">

    @foreach (var even in this.Model.Events)
    {
        <div class="card col-md-3 mt-4 mr-4" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">@even.Username</h5>

                <p class="card-text">Name: @even.Name</p>

                <p class="card-text">Location: @even.Location</p>

                <p class="card-text">Begin: @even.BeginEvent</p>

                <p class="card-text">End: @even.EndEvent</p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>

<partial name="_PagingPartial" model="@Model" />



